.favorites {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  @include for-desktop-up {
    width: 50.7%;
    display: inline-block;
    vertical-align: top;
    padding: 2.17rem 3.33rem 0 0;
  }

  &--devices {
    width: 100%;
    @include for-desktop-up {
      margin-bottom: 0;
      padding-top: 2.42rem;
    }
  }

  &__header {
    padding: 0 1.67rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--devices {
      @include for-desktop-up {
        padding-left: 3.33rem;
        display: block;
      }
    }
  }

  &__title {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: $color__dark;
  }

  &__types {
    display: inline-block;
    position: relative;
  }

  &__scripts {
    overflow: hidden;
    white-space: nowrap;
    @include for-desktop-up {
      overflow: visible;
    }
  }
}
