.footer {
  padding: 1rem 0;
  background-color: #f0f0f0;
  color: $color__dark--light;
  flex: 0 0 auto;
  text-align: center;

  &__list {
    max-width: rem(300px,12px);
    width: 70%;
    margin: 0 auto;
    font-size: 14px;
    color: $color__black;
  }

  &__item {
    border: 1px solid $color__dark--light;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    padding: 1rem;
    display: block;
  }

  &__copyright {
    margin-top: 1rem;
    text-align: center;
    font-size: 15px;
  }
}
