.footer {
  padding: 1rem 0;
  background-color: #f0f0f0;
  color: $color__dark--light;
  flex: 0 0 auto;
  text-align: center;

  @include for-desktop-up {
    display: flex;
    background-color: transparent;
    padding: 0.4rem 3.33rem 2rem 3.33rem;
  }

  &__list {
    font-size: 14px;

    @include for-phone-only {
      max-width: rem(300px, 12px);
      width: 70%;
      margin: 0 auto;
    }
  }

  &__item {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }

    @include for-phone-only {
      display: list-item;
      border: 1px solid $color__dark--light;
      border-radius: 3px;
      margin-bottom: 0.5rem;
      margin-right: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    @include for-phone-only {
      padding: 1rem;
    }
  }

  &__copyright {
    margin-left: auto;
    font-size: 15px;
    @include for-phone-only {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
