.main {
  margin-bottom: 2.58rem;
  @include for-desktop-up {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding-right: 0;
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 1.67rem;
    align-items: center;
    @include for-phone-only {
      display: none;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    color: $color__dark;
  }

  &__content {
    width: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-image: url('assets/images/bg@1x.png');
    margin-top: 5.33rem;
    overflow: hidden;

    @include for-desktop-up {
      display: flex;
      max-height: 27.58rem;
      margin-bottom: 0;
      margin-top: 0.3rem;
      background-image: url('assets/images/bg@2x.png');
    }
  }

  &__info {
    padding-left: 1.67rem;
    padding-top: 1.75rem;
  }

  &__greeting {
    font-size: rem(18px);
    font-weight: 600;
    @include for-desktop-up {
      font-size: rem(24px);
    }
  }

  &__status {
    margin-top: 0.42rem;
    @include for-desktop-up {
      font-size: rem(14px);
    }
  }

  &__weather {
    margin-top: 1.25rem;
  }

  &__scripts {
    margin-top: 1.67rem;
    // overflow-x: scroll;
    // overflow-y: visible;
    white-space: nowrap;
    @include for-desktop-up {
      margin: 0 0 0 auto;
    }
  }
}
