.logo {
    width: 9.17rem;
    height: 3.08rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url('assets/images/yandex_home@1x.png');
    // background-image: url('assets/images/yandex_home@2x.png');
    background-image: url('assets/images/svg/yandex_home.svg');

}