.logo {
  display: inline-block;
  width: 9.17rem;
  height: 3.08rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('assets/images/svg/yandex_home.svg');
  margin-right: 4.33rem;

  @include for-phone-only {
    margin-right: 0;
  }
}
