.scripts {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 1.67rem;
  padding-bottom: 1.67rem;

  &--favorite {
    @include for-desktop-up {
      display: flex;
      flex-wrap: wrap;
      padding-left: 1.67rem;
      overflow: visible;
    }
  }

  &__item {
    margin: 0 1.67rem;
    display: inline-flex;
    flex-direction: column;
    width: 16.67rem;
    height: 10rem;
    background-color: $color__gray;
    border-radius: 20px;
    padding: 1.25rem 1.25rem 1.17rem;

    @include for-desktop-up {
      display: flex;
      margin: 1.67rem 1.67rem 1.25rem;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      background-color: $color__white;
      cursor: pointer;
    }

    &--favorite {
      height: 8.33rem;
      @include for-desktop-up {
        margin-right: 0;
        margin-top: 0;
        margin-left: 1.25rem;
        margin-bottom: 1.25rem;
        &:nth-child(3n + 1) {
          margin-left: 0;
        }
      }
    }

    &--device {
      @include for-desktop-up {
        margin-left: 3.33rem;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-flex;
      }
    }
  }

  &__logo {
    margin-bottom: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(24px, 12px);
    height: rem(24px, 12px);

    &--temperature_off {
      background-image: url('assets/images/svg/icon_temperature.svg');
    }

    &--temperature_on {
      background-image: url('assets/images/svg/icon_temperature_2.svg');
    }

    &--light_off {
      background-image: url('assets/images/svg/icon_sun.svg');
    }

    &--light_on {
      background-image: url('assets/images/svg/icon_sun_2.svg');
    }

    &--sheduled {
      background-image: url('assets/images/svg/icon_scheduled.svg');
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(14px, 12px);
    color: $color__dark;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 0.34rem;
    white-space: normal;
  }

  &__encounter {
    color: $color__dark--light;
  }
}
