.scripts {
  width: 100%;
  height: 100%;
  position: relative;

  @include for-desktop-up {
    &__prev {
      cursor: pointer;
      position: absolute;
      top: -1.6rem;
      right: 2.5rem;
      padding: 0.75rem;
      content: ' ';
      display: inline-block;
      width: rem(9px);
      height: rem(14px);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('assets/images/svg/arrow_left.svg');
      opacity: 0.5;
      &--active {
        opacity: 1;
      }
    }
    &__next {
      @extend .scripts__prev;
      transform: scaleX(-1);
      right: 0;
    }
  }

  &__pages {
    overflow: auto;
    @include for-desktop-up {
      overflow: hidden;
    }
  }
  &__page {
    display: inline-block;
    position: relative;
    transition: all 0.5s ease-in-out;
    left: 0%;
  }

  &__list {
    overflow: auto;
    width: 100%;
    height: 100%;

    @include for-desktop-up {
      box-sizing: content-box;
      padding: 0 1.67rem;
    }

    &--devices {
      padding: 0;
      padding-right: 1rem;
    }

    &--favorite {
      @include for-desktop-up {
        display: flex;
        flex-wrap: wrap;
        padding-left: 1.67rem;
      }
    }
  }

  &__item {
    margin: 1.67rem;
    display: inline-flex;
    flex-direction: column;
    width: 16.67rem;
    height: 10rem;
    background-color: $color__gray;
    border-radius: 20px;
    padding: 1.25rem 1.25rem 1.17rem;

    @include for-desktop-up {
      display: flex;
      margin: 1.67rem 0 1.25rem;
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      background-color: $color__white;
      cursor: pointer;
    }

    &--favorite {
      height: 8.33rem;
      @include for-desktop-up {
        margin: 1.25rem;
        margin-right: 0;
        &:nth-child(3n + 1) {
          margin-left: 0;
        }
      }
    }

    &--device {
      @include for-desktop-up {
        margin: 1.25rem;
        margin-right: 0;
        display: inline-flex;
      }
    }

    &--first {
      @include for-desktop-up {
        margin-left: 3.33rem;
      }
    }
  }

  &__logo {
    margin-bottom: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(24px, 12px);
    height: rem(24px, 12px);

    &--temperature_off {
      background-image: url('assets/images/svg/icon_temperature.svg');
    }

    &--temperature_on {
      background-image: url('assets/images/svg/icon_temperature_2.svg');
    }

    &--light_off {
      background-image: url('assets/images/svg/icon_sun.svg');
    }

    &--light_on {
      background-image: url('assets/images/svg/icon_sun_2.svg');
    }

    &--sheduled {
      background-image: url('assets/images/svg/icon_scheduled.svg');
    }

    &--overlay {
      width: rem(40px, 12px);
      height: rem(40px, 12px);
      margin-bottom: 0;
      margin-right: 1.67rem;
    }
  }

  &__title {
    font-weight: 600;
    font-size: rem(14px, 12px);
    color: $color__dark;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 0.34rem;
    white-space: normal;
  }

  &__encounter {
    color: $color__dark--light;
  }
}
