.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    0.25turn,
    $color__yellow--light,
    $color__orange
  ) !important;
  border-radius: 100px;
  outline: none;
  &::-moz-range-track {
    background: linear-gradient(
      0.25turn,
      $color__yellow--light,
      $color__orange
    ) !important;
  }
  &--vertical {
    transform: rotate(-90deg);
  }
  &--temperature {
    background: linear-gradient(
      0.25turn,
      $color__blue,
      $color__yellow--bright,
      $color__orange
    ) !important;
    &::-moz-range-track {
      background: linear-gradient(
        0.25turn,
        $color__blue,
        $color__yellow--bright,
        $color__orange
      ) !important;
    }
  }
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 68px;
  height: 68px;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
}
.slider::-moz-range-thumb {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
}
