.weather {
  &__item {
    display: inline-block;
    margin-right: 1.58rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    color: $color__dark--light;
    @include for-desktop-up {
      font-size: rem(14px);
    }
  }
  &__status {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: left;
    position: relative;

    @include for-desktop-up {
      font-size: rem(36px);
    }
    &--rain {
      padding-right: 1.8rem;
      @include for-desktop-up {
        padding-right: 2.5rem;
      }
      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        width: rem(19px, 12px);
        height: rem(27px, 12px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('assets/images/svg/cloud-drizzle.svg');
        @include for-desktop-up {
          top: 0.6rem;
          width: 2.17rem;
          height: 2.17rem;
        }
      }
    }
  }
}
