extends ../template

block variables
    - var title = 'Яндекс Дом'

block content
    .wrapper#wrapper
        .content#content
            header.header.container
                .header__left
                    a(href="#").logo
                .header__right
                    .hamburger                
                        a(href="#").hamburger__link Меню
                            .hamburger__line    
                    nav.menu
                        ul.menu__list
                            li.menu__item.menu__item--active 
                                a(href="#").menu__link Сводка
                            li.menu__item 
                                a(href="#").menu__link Устройства
                            li.menu__item 
                                a(href="#").menu__link Сценарии
            
            main.container.main    
                .main__header
                    h4.main__title Главное              
                .main__content     
                    .main__info
                        h4.main__greeting Привет, Андрей!
                        .main__status Двери и окна закрыты, сигнализация включена.
                        .main__weather
                            ul.weather
                                li.weather__item
                                    .weather__title Дома
                                    .weather__status +23
                                li.weather__item
                                    .weather__title За окном
                                    .weather__status.weather__status--rain +19     
                    .main__scripts
                        .scripts.scripts--main
                            ul.scripts__list
                                li.scripts__item.termostate
                                    .scripts__logo.scripts__logo--temperature_off            
                                    .scripts__title Phillips Cooler             
                                    .scripts__encounter Начнет охлаждать в 16:30 
                                li.scripts__item.bulb
                                    .scripts__logo.scripts__logo--light_off            
                                    .scripts__title Xiaomi Yeelight LED Smart Bulb             
                                    .scripts__encounter Включится в 17:00         
                                li.scripts__item
                                    .scripts__logo.scripts__logo--sheduled           
                                    .scripts__title Я ухожу         
                                li.scripts__item.bulb
                                    .scripts__logo.scripts__logo--light_on            
                                    .scripts__title Xiaomi Yeelight LED Smart Bulb 2             
                                    .scripts__encounter Выключится в 17:00       
                                li.scripts__item.temperature
                                    .scripts__logo.scripts__logo--temperature_on            
                                    .scripts__title Xiaomi Termometer LED Smart            
                                    .scripts__encounter Включено                                                                     
            section.favorites
                .favorites__header            
                    h4.favorites__title Избранные сценарии          
                .favorites__scripts
                    .scripts.scripts--favorite
                        .scripts__pages
                            .scripts__page
                                ul.scripts__list.scripts__list--favorite
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--light_on            
                                        .scripts__title Выключить весь свет в доме и во дворе             
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--sheduled            
                                        .scripts__title Я ухожу                 
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--light_on           
                                        .scripts__title Включить свет в коридоре   
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00     
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Сделать пол тёплым во всей квартире    
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00                                     
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00     
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00     
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00     
                            .scripts__page                                    
                                ul.scripts__list.scripts__list--favorite                                
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00             
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00      
                                    li.scripts__item.scripts__item--favorite
                                        .scripts__logo.scripts__logo--temperature_on           
                                        .scripts__title Набрать горячую ванну
                                        .scripts__encounter Начнется в 18:00                                                                                                                                                                                             

            section.favorites.favorites--devices
                .favorites__header.favorites__header--devices
                    h4.favorites__title Избранные устройства      
                    .favorites__types            
                        .types
                            span.types__item.types__item--active Все
                            ul.types__list
                                li.types__item Кухня
                                li.types__item Зал
                                li.types__item Лампочки
                                li.types__item Камеры                            
                        ul.types__list.types__list--hide      
                .favorites__scripts
                    .scripts.scripts--devices
                        ul.scripts__list
                            li.scripts__item.scripts__item--device.bulb
                                .scripts__logo.scripts__logo--light_on            
                                .scripts__title Xiaomi Yeelight LED Smart Bulb    
                                .scripts__encounter Включено            
                            li.scripts__item.scripts__item--device.bulb
                                .scripts__logo.scripts__logo--light_off          
                                .scripts__title D-Link Omna 180 Cam        
                                .scripts__encounter Включится в 17:00         
                            li.scripts__item.scripts__item--device.termostate
                                .scripts__logo.scripts__logo--temperature_off        
                                .scripts__title Elgato Eve Degree Connected  
                                .scripts__encounter Выключено до 17:00     
                            li.scripts__item.scripts__item--device.bulb
                                .scripts__logo.scripts__logo--light_off          
                                .scripts__title LIFX Mini Day &amp; Dusk A60 E27
                                .scripts__encounter Включится в 17:00      
                            li.scripts__item.scripts__item--device.temperature
                                .scripts__logo.scripts__logo--light_on           
                                .scripts__title Xiaomi Mi Air Purifier 2S  
                                .scripts__encounter Включено             
                            li.scripts__item.scripts__item--device.temperature
                                .scripts__logo.scripts__logo--light_on           
                                .scripts__title Xiaomi Mi Air Purifier 2S  
                                .scripts__encounter Включено        
                            li.scripts__item.scripts__item--device.temperature
                                .scripts__logo.scripts__logo--light_on           
                                .scripts__title Xiaomi Mi Air Purifier 2S  
                                .scripts__encounter Включено     
                            li.scripts__item.scripts__item--device.temperature
                                .scripts__logo.scripts__logo--light_on           
                                .scripts__title Xiaomi Mi Air Purifier 2S  
                                .scripts__encounter Включено     
                            li.scripts__item.scripts__item--device.temperature
                                .scripts__logo.scripts__logo--light_on           
                                .scripts__title Xiaomi Mi Air Purifier 2S  
                                .scripts__encounter Включено                                                                                                                                                                                          
                                                                                      
        footer.footer
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link Помощь
                li.footer__item
                    a(href="#").footer__link Обратная связь
                li.footer__item                
                    a(href="#").footer__link Разработчикам
                li.footer__item
                    a(href="#").footer__link Условия использования
            .footer__copyright &copy; 2001-2018 OOO "Яндекс"
        .overlay.container#lamp 
            .overlay__content
                .overlay__header
                    .overlay__text
                        .overlay__title Xiaomi Yeelight LED Smart Bulb
                        .overlay__status Включится в 17:00
                    .overlay__logo
                .overlay__types
                    .types.types--overlay 
                        span.types__item.types__item--overlay.types__item--active Вручную
                        ul.types__list.types__list--overlay
                            li.types__item.types__item--overlay Дневной свет
                            li.types__item.types__item--overlay Вечерний свет
                            li.types__item.types__item--overlay Рассвет
                .overlay__slider
                    input(type="range" min="1" max="100" value="65").slider.slider--lamp  
            .overlay__control
                .overlay__button.overlay__button--apply Применить
                .overlay__button.overlay__button--close Закрыть        
        .overlay.container#temperature 
            .overlay__content
                .overlay__header
                    .overlay__text
                        .overlay__title Elgato Eve Degree Connected
                        .overlay__status Включено
                    .overlay__logo
                .overlay__types
                    .types.types--overlay 
                        span.types__item.types__item--overlay.types__item--active Вручную
                        ul.types__list.types__list--overlay
                            li.types__item.types__item--overlay Холодно
                            li.types__item.types__item--overlay Тепло                        
                            li.types__item.types__item--overlay Жарко                        
                .overlay__slider
                    input(type="range" min="1" max="100" value="65").slider.slider--temperature       
            .overlay__control
                .overlay__button.overlay__button--apply Применить
                .overlay__button.overlay__button--close Закрыть             
        .overlay.container#termostate 
            .overlay__content
                .overlay__header
                    .overlay__text
                        .overlay__title Xiaomi Warm Floor
                        .overlay__status Включено
                    .overlay__logo                    
                .overlay__regulator
                    .regulator#regulator
                        input(type="range" min="17" max="27" value="23").regulator__input    
                        .regulator__indicator#indicator
                        .regulator__text +23
            .overlay__control
                .overlay__button.overlay__button--apply Применить        
                .overlay__button.overlay__button--close Закрыть             

                                   
