$color__red: #ff0000;
$color__black: #000000;
$color__dark: #333333;
$color__dark--light: #858585;
$color__gray: #f7f7f7;
$color__orange: #f5a623;
$color__yellow: #ffd93e;
$color__yellow--bright: #ffd800;
$color__yellow--light: #ffe88c;
$color__blue: #068fff;

$color__white: #fff;

// resolutions
$tablets: 768px;
$phones: 480px;
