* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*:focus,
*:active {
  outline: none;
}

html {
  font-size: 12px;
}

body,
html {
  font-family: sans-serif;
  cursor: default;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  color: inherit;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  color: $color__black;
  background-color: $color__white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

}
.content {
  position: relative;
  padding-bottom: 2.58rem;
  flex: 1 0 auto;
}
.container {
  width: 100%;
  padding: 1rem 1.67rem 0 1.67rem;
  position: relative;
}
